html, body {
	/* position: relative; */
	width: 100%;
	height: 100%;
	background-color: rgb(22, 21, 21);
	/* pointer-events: none; */
}

body {
	/* pointer-events: none; */
	position: relative;
	margin: 0;
}
