html, body {
	width: 100%;
	height: 100%;
	color: var(--text-color);
	/* background-image: url("./Assets/spotlight.png"); */
	/* background-color: rgb(63, 63, 63); */
}

/* light mode */
body {
	position: relative;
	margin: 0;
	--text-color: rgb(0, 0, 0);
	--bkg-color: #dee4e7;
	--box-color:#f9f9f9;
	--shadow-color:82, 90, 114, 0.5;
	--invert: invert(0%);
	--hover-color: rgb(156, 155, 155);
	--border-color:#f7f7f7;
	--border-style: solid;
	--scrollbar-thumb: #9d9c9c;
	--scrollbar-bkg: #dcdcdc;
}

@media (prefers-color-scheme: dark) {
	/* defaults to dark theme */
	body:not(.light) {
		--text-color: rgb(255, 255, 255);
		--bkg-color:rgb(63, 63, 63);
		--box-color:rgb(41, 45, 57);
		--shadow-color:82, 90, 114, 0.5;
		--invert: invert(100%);
		--hover-color: rgb(156, 155, 155);
		--border-color:rgb(50, 55, 65);
		--border-style: solid;
		--scrollbar-thumb: #7b7b7b;
		--scrollbar-bkg: #383838;
	}
  }

  /* Need for if the os theme not dark mode is */
  body.dark {
	--text-color: rgb(255, 255, 255);
	--bkg-color:rgb(63, 63, 63);
	--box-color:rgb(41, 45, 57);
	--shadow-color:82, 90, 114, 0.5;
	--invert: invert(100%);
	--hover-color: rgb(156, 155, 155);
	--border-color:rgb(41, 45, 57);
	--border-style: solid;
	--scrollbar-thumb: #7b7b7b;
	--scrollbar-bkg: #383838;
  }

  body {
	background: var(--bkg-color);
  }
  