html,
body {
	width: 100%;
	height: 100%;
	color: var(--text-color);
	/* background-image: url("./Assets/spotlight.png"); */
	/* background-color: rgb(63, 63, 63); */
}

/* light mode */
body {
	--red: #fa5d5d;
	--blue: #5193af;
	--green: #88c5a4;
	--yellow: #f7d762;
	position: relative;
	margin: 0;
	--text-color: rgb(0, 0, 0);
	--text-disabled-color: rgb(175, 175, 175);
	--bkg-color: #dee4e7;
	--box-color: rgb(249, 249, 249);
	--box-hover-color: rgb(255, 255, 255);
	--ham-color: #5a5b5b;
	--confirm-color: rgb(148, 148, 148);
	--cancel-color: rgb(75, 75, 75);
	--shadow-color: rgba(82, 90, 114, 0.5);
	--invert: invert(0%);
	--hover-color: rgb(156, 155, 155);
	--border-color: rgb(235, 235, 235);
	--border-style: solid;
	--scrollbar-thumb: #9d9c9c;
	--scrollbar-bkg: #dcdcdc;
	--tab-active-color: #c0bebe;
	--tab-underline-color: #413f3f;
	--tab-inactive-color: rgb(245, 245, 245);
	--bar-bkg-color: rgb(249, 249, 249);
	--bar-prog-color: rgb(130, 142, 179);
	--progress-color: turquoise;
	--radius: 30;
	--circumference: 188.4955592154;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica,
		Arial, sans-serif;
	--input-bkg-color: #f9fafb;
	--button-hover-color: #f3f4f6;
}

@media (prefers-color-scheme: dark) {

	/* defaults to dark theme */
	body:not(.light) {
		--text-color: rgb(255, 255, 255);
		--text-disabled-color: rgb(150, 150, 150);
		--bkg-color: rgb(63, 63, 63);
		--box-color: rgb(41, 45, 57);
		--box-hover-color: rgb(85, 89, 101);
		--ham-color: #dee4e7;
		--confirm-color: rgb(26, 60, 163);
		--cancel-color: rgb(15, 16, 20);
		--shadow-color: rgba(82, 90, 114, 0.5);
		--invert: invert(100%);
		--hover-color: rgb(156, 155, 155);
		--border-color: #374151;
		--border-style: solid;
		--scrollbar-thumb: #7b7b7b;
		--scrollbar-bkg: #383838;
		--tab-active-color: rgb(23, 26, 33);
		--tab-inactive-color: rgb(38, 42, 54);
		--tab-underline-color: #c0bebe;
		--bar-bkg-color: rgb(38, 42, 54);
		--bar-prog-color: rgb(26, 60, 163);
		--progress-color: turquoise;
		--radius: 30;
		--circumference: 188.4955592154;
		--input-bkg-color: #374151;
		--button-hover-color: #374151;
	}
}

/* Need for if the os theme is not dark mode */
body.dark {
	--text-color: rgb(255, 255, 255);
	--bkg-color: rgb(63, 63, 63);
	--box-color: rgb(41, 45, 57);
	--box-hover-color: rgb(85, 89, 101);
	--ham-color: #dee4e7;
	--confirm-color: rgb(26, 60, 163);
	--cancel-color: rgb(15, 16, 20);
	--shadow-color: rgba(82, 90, 114, 0.5);
	--invert: invert(100%);
	--hover-color: rgb(156, 155, 155);
	--border-color: #374151;
	--border-style: solid;
	--scrollbar-thumb: #7b7b7b;
	--scrollbar-bkg: #383838;
	--tab-active-color: rgb(23, 26, 33);
	--tab-inactive-color: rgb(38, 42, 54);
	--tab-underline-color: #c0bebe;
	--bar-bkg-color: rgb(58, 65, 87);
	--bar-prog-color: rgb(81, 107, 186);
	--progress-color: turquoise;
	--radius: 30;
	--circumference: 188.4955592154;
	--input-bkg-color: #374151;
	--button-hover-color: #374151;
}

* {
	color: var(--text-color);
	text-decoration: none;
}

body {
	background: var(--bkg-color);
	color: var(--text-color);
}

.swal2-title {
	position: relative;
	max-width: 100%;
	margin: 0;
	padding: 0.8em 1em 0;
	color: var(--text-color);
	font-size: 1.875em;
	font-weight: 600;
	text-align: center;
	text-transform: none;
	word-wrap: break-word;
}

#swal2-title {
	color: var(--text-color);
}

.block-container {
	display: flex;
	height: calc(100vh - 80px);
	gap: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
	flex-wrap: wrap;
	color: var(--text-color);
	text-decoration: none;
	justify-content: center;
	position: relative;
	background-color: var(--bkg-color);
}

.block-vert {
	display: flex;
	height: calc(100vh - 200px);
	background: var(--box-color);
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow-y: auto;
	border-color: var(--border-color);
	border-radius: 6px;
	border-width: 2px;
	border-style: solid;
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bkg);
	scrollbar-width: thin;
	padding: 25px;
	padding-top: 0;
}

/* horizontal blocks */
.block-hor {
	display: flex;
	flex-direction: row;
	padding: 3px;
	justify-content: center;
	align-items: center;

}

.block-cell {
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	color: var(--text-color);
	justify-content: center;
}

::-webkit-scrollbar {
	background: var(--box-color);
	width: 11px;
	box-shadow: inset 0 0 10px 10px var(--scrollbar-bkg);
	border-top: solid 1px transparent;
	border-bottom: solid 1px transparent;
}

::-webkit-scrollbar-thumb {
	border-top: 3px solid transparent;
	border-left: 3px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 3px solid transparent;
	border-radius: 8px 8px 8px 8px;
	box-shadow: inset 12px 12px 12px 12px var(--scrollbar-thumb);
	margin: 0px auto;
}

.small-avatars {
	max-width: 30px;
	max-height: 30px;
	border-radius: 50%;
}

.small-avatars:hover {
	box-shadow: 0px 0px 4px 4px var(--shadow-color);

}

#avatar-menu {
	cursor: pointer !important;
}

#avatar-menu:hover {
	box-shadow: 0px 0px 4px 4px var(--shadow-color);
}

a {
	text-decoration: none;
}

.navbar-bg {
	background-color: var(--box-color) !important;
	border-color: transparent !important;
}

.login-button {
	font-size: 1rem;
	text-decoration: underline;
}

.login-button:hover {
	font-size: 1.125rem;
}

.leaderboard-row {
	background-color: var(--box-color);
	border-bottom-color: var(--border-color);
}

.leaderboard-row:hover {
	background-color: var(--box-hover-color);
}

.rank1 {
	background-color: rgba(230, 188, 0, 0.7);
	border-bottom-color: rgba(260, 218, 30, 0.7);
}

.rank1:hover {
	background-color: rgba(260, 218, 30, 0.7);
}

.rank2 {
	background-color: rgba(103, 127, 148, 0.7);
	border-bottom-color: rgba(133, 157, 178, 0.7);
}

.rank2:hover {
	background-color: rgba(133, 157, 178, 0.7);
}

.rank3 {
	background-color: rgba(153, 115, 78, 0.7);
	border-bottom-color: rgba(183, 145, 108, 0.7);
}

.rank3:hover {
	background-color: rgba(183, 145, 108, 0.7);
}

.padding-cell {
	padding-left: 1em;
	padding-right: 0.5em;
}

.table-cell-s {
	padding-left: 1rem !important;
	padding-right: 0.5rem !important;
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	white-space: nowrap;
	font-size: 0.875rem;
	line-height: 1.25rem;
	text-align: center;
}

.space-between {
	justify-content: space-evenly;
}

.padding-left {
	padding-left: 0.5em;
}

.table-head {
	background-color: var(--box-color) !important;
}

.bg-c {
	background-color: var(--box-color) !important;
}

.bor-c {
	border: 1px solid var(--border-color) !important;
	border-radius: 0.25rem;
}

table {
	border-collapse: separate !important;
	border-spacing: 0;
}

.bordered {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid var(--border-color) !important;
}

.tab-content-background {
	/* background-color: var(--box-color)!important; */
	/* margin-top: 1em; */
	overflow-y: auto;
}

#table-search {
	width: 100%;
}

.drawer-custom {
	top: 4.75rem;
	height: 100vh;
	left: 0;
	border-radius: 6px;
	width: auto !important;
}

@media (max-width: 500px) {
	.drawer-custom {
		top: 4rem;
	}
}

.close-button {
	position: relative;
	margin-bottom: auto;
	left: 0.25rem;
}

.drawer-button {
	position: relative;
	width: 50px;
	height: 20px;
	background-color: var(--box-color) !important;
	border-radius: 6px;
}

.dots-menu {
	background-color: var(--box-color);
	position: relative;
	/* top: 0.375rem; */
	align-items: center;
	display: flex;
	justify-content: center;
	box-shadow: unset !important;
	width: 50px;
	height: 50px;
}

.dots-menu:hover {
	background-color: var(--box-hover-color) !important;
}

.chatroom-menu {
	background-color: var(--box-color);
	position: relative;
	align-self: center;
	align-items: center;
	display: flex;
	right: 0.375rem;
	height: 35px;
	width: 35px;
	outline: unset !important;
	box-shadow: unset !important;
}

.chatroom-menu:hover {
	background-color: var(--box-hover-color) !important;
}

.br-6 {
	border-radius: 6px;
}

.flowbite-input {
	display: inline-block !important;
	width: 2.3em;
	height: 2em !important;
	background-color: var(--box-color) !important;
	border-radius: 0.25rem !important;
}

.checkbox {
	width: 30px !important;
	height: 30px !important;
	vertical-align: top !important;
	background-color: var(--box-color) !important;
	border-radius: 0.5rem !important;
}

.select {
	display: inline-block !important;
	background: var(--box-color);
	border: 1px solid var(--border-color);
	border-radius: 0.375rem;
	padding-top: 0.25rem !important;
	padding-bottom: 0.25rem !important;
	padding-left: 0.5rem !important;
	width: unset !important;
	font-size: 1rem !important;
	line-height: 1.5rem !important;
}

.friend-button {
	border-color: transparent !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	border-bottom-color: var(--border-color) !important;
	border-bottom-width: 2px !important;
}

@font-face {
	font-family: "pong";
	src: url("/Assets/fonts/Pixeled.ttf");
}

.border-red {
	border-color: var(--red) !important;
}

.border-green {
	border-color: var(--green) !important;
}

.border-blue {
	border-color: var(--blue) !important;
}

.border-yellow {
	border-color: var(--yellow) !important;
}

.status0 {
	background-color: var(--box-color) !important;
}

.status1 {
	--bg-opacity: 0.7;
	background-color: var(--box-color) !important;
	color: var(--text-color) * 0.6 !important;
	filter: opacity(0.3);
}

/* This is so that the dropdown menu doesn't get clicked away if an element gets removed */
.status2 {
	padding: 0 !important;
	border-bottom-width: 0!important;
}

.avatar-status0 {
	filter: opacity(0.3);
}

/*
	README
	Please keep the following in alphabetical order
*/

.avatar {
	width: 3rem;
	height: 3rem;
	border-radius: 100%;
}

.button,
.input {
	background: var(--box-color) !important;
	border: 2px solid var(--border-color);
	border-radius: 1rem !important;
	padding: 0.25rem 1rem !important;
	margin: 0.25rem !important;
	text-align: center !important;
	opacity: 100%;
}

canvas {
	height: calc(100vh - 10rem);
	width: calc(100vw - 1rem);
}

.icon {
	width: 2rem;
	height: 2rem;
	-webkit-filter: var(--invert);
	filter: var(--invert);
	align-self: center;
}

.button:disabled,
.input:disabled {
	opacity: 0.25;
}

.dropdown {
	background-color: var(--box-color) !important;
	display: inline-block;
}

.dropdown-item {
	background-color: var(--box-color) !important;
	text-align: center !important;
	width: 100%;
}

.dropdown-item:hover {
	background-color: var(--box-hover-color) !important;
}

.link:link {
	color: #0dcaf0;
}

.link:active {
	color: blue;
}

.link:hover {
	color: #0d70cc;
	text-decoration-line: underline;
}

.link:visited {
	color: blue;
}

.room {
	background: var(--box-color);
	border-radius: 1rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	justify-content: flex-end;
	margin: 0.25rem;
	padding: 1rem;
}

.search {
	max-width: 20ch !important;
}

.swal2-popup {
	background-color: var(--box-color) !important;
	color: var(--text-color) !important;
}

.swal2-confirm {
	background-color: var(--confirm-color) !important;
}

.swal2-cancel {
	background-color: var(--cancel-color) !important;
}

.swal2-radio {
	background-color: var(--box-color) !important;
	color: var(--text-color) !important;
}